<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <span class="nav-link disabled">Admin</span>
                </li>
                <li class="nav-item">
                    <span class="nav-link disabled">User</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Выход</a>
                </li>
            </ul>
        </nav>

        <!-- Основная часть -->
        <main class="col-md-9 ms-sm-auto col-lg-10 ps-md-4">
            <h2 class="mt-3">Управление пользователем</h2>
            <button class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#addUserModal">Добавить пользователя</button>

            <table class="table table-striped" id="userTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </main>
    </div>
</div>

<!-- окно для добавления пользователя -->
<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="addUserForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="addUserModalLabel">Добавить пользователя</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" id="username" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" id="password" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="firstname" class="form-label">First Name</label>
                        <input type="text" id="firstname" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="lastname" class="form-label">Last Name</label>
                        <input type="text" id="lastname" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="userage" class="form-label">User Age</label>
                        <input type="number" id="userage" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" class="form-control" required placeholder="Введите ваш Email">
                    </div>
                    <div class="mb-3">
                        <label for="roles" class="form-label">Roles</label>
                        <select id="roles" class="form-select" multiple required>
                            <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                            <option value="ROLE_USER">ROLE_USER</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- окно для редактирования пользователя -->
<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="editUserForm">
                <input type="hidden" id="edit-id">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserModalLabel">Изменить данные пользователя</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <form class="modal-body">
                    <div class="mb-3">
                        <label for="edit-username" class="form-label">Username</label>
                        <input type="text" id="edit-username" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="edit-firstname" class="form-label">First Name</label>
                        <input type="text" id="edit-firstname" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="edit-lastname" class="form-label">Last Name</label>
                        <input type="text" id="edit-lastname" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="edit-userage" class="form-label">User Age</label>
                        <input type="number" id="edit-userage" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="edit-email" class="form-label">Email</label>
                        <input type="email" id="edit-email" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="edit-roles" class="form-label">Roles</label>
                        <select id="edit-roles" class="form-select" multiple required>
                            <option value="1" data-id="1" >Admin</option>
                            <option value="2" data-id="2" >User</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        //Загрузка пользователей
        function loadUsers() {
            fetch(`/api/admin/users`)
                .then(response => {
                    if (!response.ok) {
                        console.error("Ошибка с фетч пользователей", response.status, response.statusText)
                        throw new Error(`Fail ${response.status} ${response.statusText}`)
                    }

                    const contentType = response.headers.get("Content-Type");
                    if (contentType && contentType.includes("application/json")) {
                        return response.json();
                    } else {
                        console.error("Ожидается джейсон но", contentType);
                        throw new Error("не джейсон контент")
                    }
                })

                .then(users => {
                    const userTable = document.querySelector('#userTable tbody');
                    userTable.innerHTML = '';
                    users.forEach(user => {
                        const row = document.createElement('tr');
                        const roles = Array.isArray(user.roles)
                        ? user.roles.map(role => role.roleName).join(',')
                            : "Нет ролей";
                        row.innerHTML = `
                            <td>${user.id}</td>
                            <td>${user.username}</td>
                            <td>${user.firstname}</td>
                            <td>${user.lastname}</td>
                            <td>${user.userage}</td>
                            <td>${user.email}</td>
                            <td>${roles}</td>
                            <td>
                                <button class="btn btn-warning btn-sm" onclick="editUser(${user.id})">Редактировать</button>
                                <button class="btn btn-danger btn-sm" onclick="deleteUser(${user.id})">Удалить</button>
                            </td>
                         `;
                        userTable.appendChild(row);
                    });
                });
        }

        // для добавления
        document.getElementById('addUserForm').addEventListener('submit', function (e) {
            e.preventDefault();

            const userData = {
                username: document.getElementById('username').value,
                password: document.getElementById('password').value,
                firstname: document.getElementById('firstname').value,
                lastname: document.getElementById('lastname').value,
                email: document.getElementById('email').value,
                userage: document.getElementById('userage').value,
                roles: Array.from(document.getElementById('roles').selectedOptions).map(opt => opt.value)
            };

            fetch('api/admin/add', {
                method: 'POST',
                headers: {
                    'Content-Type' : 'application/json'
                },
                body: JSON.stringify(userData)
            })
                .then(response => response.json())
                .then(() => {
                    loadUsers();
                    const modal = bootstrap.Modal.getInstance(document.getElementById('addUserModal'));
                    modal.hide();
                    document.getElementById('addUserForm').reset();
                });
        });

        //для редактирования
        function editUser(id) {
            fetch(`/api/admin/edit/${id}`)
                .then(response => response.json())
                .then(user => {
                    document.getElementById('edit-id').value = user.id;
                    document.getElementById('edit-username').value = user.username;
                    document.getElementById('edit-firstname').value = user.firstname;
                    document.getElementById('edit-lastname').value = user.lastname;
                    document.getElementById('edit-userage').value = user.userage;
                    document.getElementById('edit-email').value = user.email;
                    document.getElementById('edit-roles').value = user.roles.map(role => role.roleName);
                    new bootstrap.Modal(document.getElementById('editUserModal')).show();
                })
                .catch(error => {
                    console.error(error);
                    alert('Ошибка загрузки данных пользователя');
                });
        }

        //сохранение изменений
        document.getElementById('editUserForm').addEventListener('submit', function (e) {
            e.preventDefault();

            const userData = {
                id: document.getElementById('edit-id').value,
                username: document.getElementById('edit-username').value,
                firstname: document.getElementById('edit-firstname').value,
                lastname: document.getElementById('edit-lastname').value,
                userage: document.getElementById('edit-userage').value,
                email: document.getElementById('edit-email').value,
                roles: Array.from(document.getElementById('edit-roles').selectedOptions).map(option => {
                    return {id: option.value, roleName: option.textContent};
                })
            };

            fetch(`api/admin/edit/${userData.id}`, {
                method: 'PATCH',
                headers: {
                    'Content-Type' : 'application/json'
                },
                body: JSON.stringify(userData)
            })
                .then(response => response.json())
                .then(() => {
                    loadUsers();
                    const modal = bootstrap.Modal.getInstance(document.getElementById('editUserModal'));
                    modal.hide();
                    alert('Данные успешно сохранены');
                })
        });

        function deleteUser(id) {
            if (confirm('Вы уверены ?')) {
                fetch(`api/admin/delete/${id}`, {
                    method: 'DELETE'
                })
                    .then(() => loadUsers());
            }
        }

        document.addEventListener('DOMContentLoaded', loadUsers);
    </script>
</div>
</html>